<!-- /.box -->
<div class="box box-default">
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="15%">User</th>
                    <th width="40%">Bookmark</th>
                    <th width="25%">Time</th>
                    <th width="20%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>bgd</td>
                    <td><a href="">谷歌</a></td>
                    <td>2016-9-10 11:30</td>
                    <td>
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <nav>
                            <ul class="pager">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>